.metadata/.plugins/org.eclipse.core.resources/.projects/ComputerUnlock/.markers.snap
*.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ComputerUnlock/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ComputerUnlock/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
*.snap
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi